header,
.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: space-around;
}
header {
    margin: 25px auto;
}

input[type="search"] {
    -moz-appearance:none;
    -webkit-appearance:none;
    width: 75%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.gallery a {
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    input[type='search'] {
        width: 45%;
    }
}